[project]
	description = Basic utilities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amitkumarbali (amitkumarbali)
[access "refs/for/refs/*"]
	read = group user/amitkumarbali (amitkumarbali)
	push = group user/amitkumarbali (amitkumarbali)
	label-Code-Review = -2..+2 group user/amitkumarbali (amitkumarbali)
	label-Verified = -1..+1 group user/amitkumarbali (amitkumarbali)
	rebase = group user/amitkumarbali (amitkumarbali)
	removeReviewer = group user/amitkumarbali (amitkumarbali)
	submit = group user/amitkumarbali (amitkumarbali)
[access "refs/heads/*"]
	read = group user/amitkumarbali (amitkumarbali)
	create = group user/amitkumarbali (amitkumarbali)
	push = +force group user/amitkumarbali (amitkumarbali)
	pushMerge = group user/amitkumarbali (amitkumarbali)
[access "refs/tags/*"]
	push = +force group user/amitkumarbali (amitkumarbali)
	pushTag = group user/amitkumarbali (amitkumarbali)
	pushSignedTag = group user/amitkumarbali (amitkumarbali)
