[project]
	description = Basic utilities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amitkumarbali
[access "refs/for/refs/*"]
	read = group user/amitkumarbali
	push = group user/amitkumarbali
	label-Code-Review = -2..+2 group user/amitkumarbali
	label-Verified = -1..+1 group user/amitkumarbali
	rebase = group user/amitkumarbali
	removeReviewer = group user/amitkumarbali
	submit = group user/amitkumarbali
[access "refs/heads/*"]
	read = group user/amitkumarbali
	create = group user/amitkumarbali
	push = +force group user/amitkumarbali
	pushMerge = group user/amitkumarbali
[access "refs/tags/*"]
	push = +force group user/amitkumarbali
	pushTag = group user/amitkumarbali
	pushSignedTag = group user/amitkumarbali
